<h1>Semester Tracker</h1>
<p>Welcome</p>

<nav>
    <ul>
        <li><%= link_to  "Semesters", controller: 'semesters' %></li>
        <li><%= link_to  "Add semester", new_semester_path %></li>
    </ul>
</nav>